In [15]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('adult.data.csv', sep=',')

In [53]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [54]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [55]:
df['race'].value_counts(dropna=False)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [56]:
df[df['sex'] == 'Male']['age'].mean()

np.float64(39.43354749885268)

In [57]:
bachelors_count = df[df['education'] == 'Bachelors'].shape[0]
total_people = df.shape[0]
percentage_bachelors = (bachelors_count / total_people) * 100

In [58]:
percentage_bachelors

16.44605509658794

In [59]:
advanced_edu = ['Bachelors', 'Masters', 'Doctorate']

In [60]:
advanced_edu_df = df[df['education'].isin(advanced_edu)]

In [61]:
percentage_adv = (advanced_edu_df['salary'] == '>50K').mean() * 100

In [62]:
percentage_adv

np.float64(46.535843011613935)

In [77]:
no_advanced_edu = ['Bachelors', 'Masters', 'Doctorate']

In [78]:
no_advanced_edu_df = df[~df['education'].isin(no_advanced_edu)]

In [79]:
no_percentage_adv = (no_advanced_edu_df['salary'] == '>50K').mean() * 100

In [80]:
no_percentage_adv

np.float64(17.3713601914639)

In [71]:
min_hours = df['hours-per-week'].min()

In [72]:
min_hours

np.int64(1)

In [81]:
min_hours_workers = df[df['hours-per-week'] == min_hours]

In [82]:
num_min_workes = (min_hours_workers['salary'] == '>50K').mean() * 100

In [83]:
num_min_workes

np.float64(10.0)

In [86]:
high = df[df['salary'] == '>50K']

In [88]:
high_counts = high['native-country'].value_counts()

In [89]:
total_people = df['native-country'].value_counts()

In [92]:
percentage_people = round((high_counts / total_people) * 100, 1)

In [94]:
top_country = percentage_people.idxmax()

In [95]:
top_country

'Iran'

In [96]:
top_percentage = percentage.max()

In [97]:
top_percentage

np.float64(46.535843011613935)

In [99]:
filter_india = (df['native-country'] == 'India') & (df['salary'] == '>50K')

In [100]:
filter_indian_people = df[filter_india]

In [101]:
count_occupation = filter_indian_people['occupation'].value_counts()

In [102]:
top_IN_occupation = count_occupation.index[0]

In [103]:
top_IN_occupation

'Prof-specialty'